<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twin.projekti_schedules">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".forgotPassword" />
        <activity android:name=".aboutus" />
        <activity android:name=".profileUI" />
        <activity android:name=".AddActivity" />
        <activity android:name=".ViewActivity" />
        "
        <activity android:name=".motivation" />
        <activity android:name=".FaqjaKryesore" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".DeleteAccount" />
        <activity android:name=".Settings" />
        <activity android:name=".ConfirmPassword" />

        <receiver android:name=".AlarmReceiver" />

        <activity android:name=".StaticticsActivity" />
        <activity android:name=".CompletedActivity"></activity>
    </application>

</manifest>