<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.twin.projekti_schedules">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BeProductive"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >


        <activity
            android:name=".LoginActivity"
            android:label="BeProductive" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="BeProductive" android:noHistory="true"/>
        <activity android:name=".forgotPassword" />
        <activity android:name=".AddActivity" android:noHistory="true"></activity>
        <activity android:name=".MenuActivity" android:noHistory="true"></activity>
        <activity android:name=".DeleteAccount" android:noHistory="true"></activity>
        <activity android:name=".ChangePassword" android:noHistory="true"></activity>
        <activity android:name=".Settings" android:noHistory="true"></activity>
        <activity android:name=".CardViewActivity" android:noHistory="true"></activity>
        <activity android:name=".aboutus" android:noHistory="true"></activity>
        <activity android:name=".ConfirmPassword" android:noHistory="true"></activity>
        <activity android:name=".CompletedActivity" android:noHistory="true"></activity>
        <activity android:name=".StaticticsActivity" android:noHistory="true"></activity>
        <activity android:name=".motivation" android:noHistory="true"/>

        <activity android:name=".FaqjaKryesore" android:noHistory="true" />

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!-- Will not be called unless the application explicitly enables it -->
        <receiver android:name=".DeviceBootReceiver"
            android:enabled="false">.
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <activity android:name=".ViewActivity" android:noHistory="true"></activity>


    </application>

</manifest>